<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/loader-style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/js/button/ladda/ladda.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/site.css")">


    @RenderSection("styles", required: false)

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/preloader.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/load.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/main.js")"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SISECOOB", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="menu-link">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li class=" dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administracion Sistema <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Administracion Roles", "Index", "RolesAdmin")</li>
                                    <li>@Html.ActionLink("Administracion Usuarios", "Index", "UsersAdmin")</li>
                                    <li>@Html.ActionLink("Modulos", "Index", "Modulos")</li>
                                </ul>
                            </li>


                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        @*<li class=" dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Catalogos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Conceptos", "Index", "Conceptos")</li>

                                <li>@Html.ActionLink("Departamentos", "Index", "Departamentos")</li>
                                <li>@Html.ActionLink("Localidades", "Index", "Localidades")</li>
                                <li>@Html.ActionLink("Municipios", "Index", "Municipios")</li>

                                <li>@Html.ActionLink("Nivel Educativo", "Index", "NivelsEducativos")</li>
                                <li>@Html.ActionLink("Tipo Oficios", "Index", "TipoOficios")</li>
                                <li>@Html.ActionLink("Zonas", "Index", "Zonas")</li>
                            </ul>
                        </li>*@

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ICHIFE</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script>

        // Menu
        $.ajax({
            url: '@Url.Action("CargarMenu","Utilidades")',
            type: 'get',
            cache: true,
            success: function (data) {
                var t = $('#menu-link');
                if (data.total > 0) {
                    var html = '<li class="dropdown">'
                             + '{menuPrincipal}<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu"">{menuSecundario}</ul>'
                             + '</li>';

                    data.datos.map(function (e) {

                        e.menuPrincipal = "";
                        e.menuSecundario = "";

                        if (e.nivel == 0) {
                            //agrega el menu principal o nivel 0
                            e.menuPrincipal = '<a class="dropdown-toggle" data-toggle="dropdown" href="#">' + e.nombre + '';

                            //checa si el menu principal tiene hijos para agregarlos al menu principal
                            if (e.hijos.length > 0) {
                                e.menuPrincipal += '<span class="caret"></span></a>';
                            } else { e.menuPrincipal += '</a>'; }

                            //agrega los submenu al menu principal
                            for (i = 0; i < e.hijos.length; i++) {
                                if (e.hijos[i].hijos.length > 0) {
                                    e.menuSecundario += '<li class="dropdown-submenu"><a tabindex="-1" href="#">' + e.hijos[i].nombre + '</a><ul class="dropdown-menu">';

                                    for (j = 0; j < e.hijos[i].hijos.length; j++) {
                                        e.menuSecundario += '<li><a tabindex="-1" href="/' + e.hijos[i].hijos[j].controlador + '/' + e.hijos[i].hijos[j].direccion + '">' + e.hijos[i].hijos[j].nombre + '</a></li>';
                                    }
                                    e.menuSecundario += '</ul></li>'
                                } else {
                                    e.menuSecundario += '<li><a href="/' + e.hijos[i].controlador + '/' + e.hijos[i].direccion + '">' + e.hijos[i].nombre + '</a></li>';
                                }
                             }

                        }
                        temp = html.format(e);
                        t.append(temp);

                    });
                }
            }
        });
    </script>
    <style>
        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
                margin-left: -1px;
                -webkit-border-radius: 0 6px 6px 6px;
                -moz-border-radius: 0 6px 6px;
                border-radius: 0 6px 6px 6px;
            }

            .dropdown-submenu:hover > .dropdown-menu {
                display: block;
            }

            .dropdown-submenu > a:after {
                display: block;
                content: " ";
                float: right;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-left-color: #ccc;
                margin-top: 5px;
                margin-right: -10px;
            }

            .dropdown-submenu:hover > a:after {
                border-left-color: #fff;
            }

            .dropdown-submenu.pull-left {
                float: none;
            }

                .dropdown-submenu.pull-left > .dropdown-menu {
                    left: -100%;
                    margin-left: 10px;
                    -webkit-border-radius: 6px 0 6px 6px;
                    -moz-border-radius: 6px 0 6px 6px;
                    border-radius: 6px 0 6px 6px;
                }
    </style>
</body>
</html>
