@model SISECOOB.Models.Oficios

@using (Html.BeginForm())
{
    <fieldset>
        <div class="col-md-12 col-sm-12">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.OficioID, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.OficioID, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.Label("Recibido / Entregado", new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    <label>  @Html.RadioButton("Recibido", true ) Recibido </label>
                    <label>  @Html.RadioButton("Recibido", false ) Entregado </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.FechaOficio, new { @class = "col-md-6 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(i => i.FechaOficio, new { @class = "form-control fecha", type = "date", Value = (Model != null && Model.FechaOficio != null ? Model.FechaOficio.Value.ToString("yyyy-MM-dd") : "") })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.FechaRecibo, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(i => i.FechaRecibo, new { @class = "form-control fecha", type = "date", Value = (Model != null && Model.FechaRecibo != null ? Model.FechaRecibo.Value.ToString("yyyy-MM-dd") : "") })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.TipoOficio_Fk, new { @class = "col-md-6 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("TipoOficio_Fk", new SelectList(ViewBag.TipoOficio, "id", "nombre"), "Selecciona un tipo", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Asunto, new { @class = "col-md-6 control-label" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Asunto, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-6 control-label" })
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.ProgramaID_Fk, new { @class = "col-md-6 control-label" })
                <div class="col-md-12">
                    @Html.DropDownList("ProgramaID_Fk", new SelectList(ViewBag.Programa, "id", "nombre"), "Selecciona algun Programa", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <table id="tcuentas" class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="col-md-3">Tipo de cuenta</th>
                            <th class="col-md-5">Cuenta</th>
                            <th class="col-md-2">Monto</th>
                            <th class="col-md-2"><button type="button" value="Nueva Cuenta" id="btnagregar" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>Nueva Cuenta</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hidden" id="cuenta" name="cuenta">
                            <td>
                                @Html.DropDownList("tipocuenta", new SelectList(ViewBag.TipoCuenta, "id", "nombre"), "", new { @class = "form-control" })
                            </td>
                            <td>
                                <input name="cuentas" class="form-control" />
                            </td>
                            <td>
                                <input name="montos" class="form-control" />
                            </td>
                            <td>
                                <button type="button" class="btn-sm btn-danger" name="btneliminar"><span class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
}
<script>

    //agregar telefonos de la escuela
    var i = 1;
    $('#btnagregar').click(function () {

        var cuenta = $('#cuenta');
        var cuentaClon = cuenta.clone();
        cuentaClon.removeAttr('id');
        cuentaClon.removeClass('hidden');
        cuentaClon.attr('data-control', i);

        var btne = cuentaClon.find('[name=btneliminar]');
        btne.attr('data-cont', i);

        var html = $('#tcuentas tbody');
        html.append(cuentaClon);
        i++;
    });

    $('#tcuentas').on('click', 'button[name="btneliminar"]', function () {
        var data = $(this).data('cont');
        var eliminar = $('[data-control="' + data + '"]');
        eliminar.remove();
    });
</script>