@model IdentitySample.Models.EditUserViewModel

@{
    ViewBag.Title = "Edicion de Usuarios";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit User Form.</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.aPaterno, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.aPaterno, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.aMaterno, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.aMaterno, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Zona, new { @class = "col-md-2 control-label" })
            <span class=" col-md-10">
                @foreach (var item in ViewBag.Zonas)
                {
                    if (item.Selected == "checked")
                    {
                        <input type="checkbox" name="Zona" value="@item.itemID" checked="checked" class="checkbox-inline" />
                    }
                    else
                    {
                        <input type="checkbox" name="Zona" value="@item.itemID" class="checkbox-inline" />

                    }
                    <label>@item.nombre</label>
                }
            </span>


        </div>
        <div class="form-group">
            @Html.Label("Roles", new { @class = "control-label col-md-2" })
            <span class=" col-md-10">
                @foreach (var item in ViewBag.RolesList)
                {
                    <label class = "control-label">
                        <input type="checkbox" name="Rol" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                       @item.Value
                    </label>
                }
            </span>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>
}