@inherits System.Web.Mvc.WebViewPage<dynamic>
@{
    ViewBag.Title = "Usuarios";
}
<style>
    .btn-desactivo {
        background-color: #A4A4A4;
        color: white;
    }
</style>
<div class="col-md-12 col-sm-12 form-group">
    <form id="fBusqueda">
        @Html.Hidden("page", 1)
        @Html.Hidden("pageSize", 10)
        <div class="col-md-12 col-xs-12 text-center">
            <h4>Administración de usuarios</h4>
            <br />
        </div>
        <div class="col-md-3 col-sm-3">
            @Html.Label("Usuario Y/O Email")
            @Html.TextBox("email", "", new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-3">
            @Html.Label("Nombre")
            @Html.TextBox("nombre", "", new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-3">
            @Html.Label("Zona")
            @Html.DropDownList("Zona", new SelectList(ViewBag.Zonas, "id", "nombre"), "Todos", new { @class = "form-control" })
        </div>
        <div class="col-md-3 col-sm-3">
            <br />
            <div class="btn-group">
                <input type="submit" value="Buscar" class="btn btn-sm btn-primary" />
                <button type="button" id="Nuevo" class="btn btn-sm btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Agregar Usuario</button>
            </div>
        </div>
    </form>
</div>
<table id="tUsuarios" class="table table-hover table-stripped">
    <thead>
        <tr>
            <th class="col-md-3">Nombre</th>
            <th class="col-md-2">Email</th>
            <th class="col-md-1">Usuario</th>
            <th class="col-md-1">Rol</th>
            <th class="col-md-1">Zona</th>
            <th class="col-md-4"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="12" class="text-center">No se encontraron resultados</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <div class="paginacion" id="paginador"></div>
            </td>
        </tr>
    </tfoot>
</table>


<div id="NuevoUsuario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="titulo" class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="guardar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="EditarUsuario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="titulo" class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="Editando" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modalActivacion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="titulo1" class=" text-center modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="col-12 text-center">
                        <input class="btn btn-primary btn" id="Activando" type="button" value="">
                        <a class="btn btn-default  btn" data-dismiss="modal">Cancelar</a>
                    </div>
                    <input type="hidden" id="UsuarioID" value="" />
                    <input type="hidden" id="Elementoid" value="" />
                    <input type="hidden" id="Activa" value="" />
                    <input type="hidden" id="elemento" value="" />
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="modalSupervisor" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="tituloSU" class=" text-center modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="col-12 text-center">
                        <input class="btn btn-primary btn" id="btnSupervisor" type="button" value="">
                        <a class="btn btn-default  btn" data-dismiss="modal">Cancelar</a>
                    </div>
                    <input type="hidden" id="SuId" value="" />
                    <input type="hidden" id="ElementoidS" value="" />
                    <input type="hidden" id="Supervisor" value="" />
                    <input type="hidden" id="elementoS" value="" />
                </div>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="Eliminarmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="tituloElimina" class="modal-title text-center" ></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="eliminarID" value="" />

                <div class="col-12 text-center">
                    <input class="btn btn-primary btn" id="btnElimina" type="button" value="">
                    <a class="btn btn-default  btn" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.messages.js")"></script>
    <script src="/Scripts/Paginacion.js"></script>
    <script src="~/Scripts/Controles/Usuarios.js"></script>

}
