@model SISECOOB.Models.SubProgramasEdu


@using (@Html.BeginForm())
{
    <fieldset>
        <div class="col-md-12 col-sm-12">
            @Html.HiddenFor(i => i.SubprogramaID)
            <div class=" form-group col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                @Html.LabelFor(i => i.Subprograma)
                @Html.TextBoxFor(i => i.Subprograma, new { @class = "form-control" })
                @Html.ValidationMessageFor(i => i.Subprograma)
            </div>
        </div>
    </fieldset>
}